@inject UserManager<ApplicationUser> UserManager
@using DataAccessLayer.Data
@using Microsoft.AspNetCore.Identity
@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    var currentUser = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PresentationLayer</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Customer/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Customer/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="~/Customer/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Customer/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Customer/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Customer/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/Customer/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="~/Customer/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="~/Customer/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/Customer/css/aos.css">

    <link rel="stylesheet" href="~/Customer/css/style.css">
</head>
<body>
    <div class="site-wrap">
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <header class="site-navbar py-4" role="banner">

            <div class="container">
                <div class="d-flex align-items-center">
                    <div class="site-logo">
                        <a class="sidebar-brand brand-logo" asp-controller="Home" asp-action="Index" style="color:white;font-size:25px;font-family: sans-serif;">⚽Matchy</a>
                    </div>
                    <div class="ml-auto">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li class="@(currentController == "Home" && currentAction == "Index" ? "active" : "")"><a asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
                                <li class="@(currentController == "Match" && currentAction == "Index" ? "active" : "")">
                                    <a asp-controller="Match" asp-action="Index" class="nav-link">Matches</a>
                                </li>
                                <li class="@(currentController == "Player" && currentAction == "Index" ? "active" : "")">
                                    <a asp-controller="Player" asp-action="Index" class="nav-link">Players</a>
                                </li>
                                <li class="@(currentController == "New" && currentAction == "Index" ? "active" : "")">
                                    <a asp-controller="New" asp-action="Index" class="nav-link">Blog</a>
                                </li>
                                <li class="@(currentController == "Contact" && currentAction == "Index" ? "active" : "")">
                                    <a asp-controller="Contact" asp-action="Index" class="nav-link">Contact</a>
                                </li>
                                @if (User is not null && User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle btn btn-outline-primary px-3 mx-1 rounded-pill" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            My Profile
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                            <li>
                                                <a class="dropdown-item" asp-area="Identity" asp-controller="UserProfile" asp-action="Index">
                                                    View Profile
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-area="Identity" asp-controller="UserProfile" asp-action="Edit">
                                                    Edit Profile
                                                </a>
                                            </li>
                                            <li><hr class="dropdown-divider" /></li>
                                            <li>
                                                <a class="dropdown-item text-danger" asp-area="Identity" asp-controller="Account" asp-action="Logout">
                                                    Logout
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="btn btn-success px-3 mx-1 rounded-pill" asp-area="Identity" asp-controller="UserProfile" asp-action="MyTickets">
                                            My Tickets
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="btn btn-primary px-3 mx-1 rounded-pill" asp-area="Identity" asp-controller="Account" asp-action="Login">
                                            Login
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="btn btn-warning px-3 mx-1 rounded-pill" asp-area="Identity" asp-controller="Account" asp-action="Register">
                                            Register
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>

                        <a href="~/Customer/#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white">
                            <span class="icon-menu h3 text-white"></span>
                        </a>
                    </div>
                </div>
            </div>

        </header>
        
        @RenderBody()

        <footer class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget mb-3">
                            <h3>News</h3>
                            <ul class="list-unstyled links">
                                <li><a href="~/Customer/#">All</a></li>
                                <li><a href="~/Customer/#">Club News</a></li>
                                <li><a href="~/Customer/#">Media Center</a></li>
                                <li><a href="~/Customer/#">Video</a></li>
                                <li><a href="~/Customer/#">RSS</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget mb-3">
                            <h3>Tickets</h3>
                            <ul class="list-unstyled links">
                                <li><a href="~/Customer/#">Online Ticket</a></li>
                                <li><a href="~/Customer/#">Payment and Prices</a></li>
                                <li><a href="~/Customer/#">Contact &amp; Booking</a></li>
                                <li><a href="~/Customer/#">Tickets</a></li>
                                <li><a href="~/Customer/#">Coupon</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget mb-3">
                            <h3>Matches</h3>
                            <ul class="list-unstyled links">
                                <li><a href="~/Customer/#">Standings</a></li>
                                <li><a href="~/Customer/#">World Cup</a></li>
                                <li><a href="~/Customer/#">La Lega</a></li>
                                <li><a href="~/Customer/#">Hyper Cup</a></li>
                                <li><a href="~/Customer/#">World League</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="widget mb-3">
                            <h3>Social</h3>
                            <ul class="list-unstyled links">
                                <li><a href="~/Customer/#">Twitter</a></li>
                                <li><a href="~/Customer/#">Facebook</a></li>
                                <li><a href="~/Customer/#">Instagram</a></li>
                                <li><a href="~/Customer/#">Youtube</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="row text-center">
                    <div class="col-md-12">
                        <div class=" pt-5">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved | This template is made with <i class="icon-heart"
                                                                                              aria-hidden="true"></i> by <a href="~/Customer/https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </footer>

    </div>


    <script src="~/Customer/js/jquery-3.3.1.min.js"></script>
    <script src="~/Customer/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Customer/js/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Customer/js/owl.carousel.min.js"></script>
    <script src="~/Customer/js/jquery.stellar.min.js"></script>
    <script src="~/Customer/js/jquery.countdown.min.js"></script>
    <script src="~/Customer/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Customer/js/jquery.easing.1.3.js"></script>
    <script src="~/Customer/js/aos.js"></script>
    <script src="~/Customer/js/jquery.fancybox.min.js"></script>
    <script src="~/Customer/js/jquery.sticky.js"></script>
    <script src="~/Customer/js/jquery.mb.YTPlayer.min.js"></script>


    <script src="~/Customer/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
