@model PresentationLayer.ViewModels.MatchPageVM


<div class="hero overlay" style="background-image: url('images/bg_3.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 mx-auto text-center">
                <h1 class="text-white">Matches</h1>
                <p>Follow Us For More Matchs</p>
            </div>
        </div>
    </div>
</div>



<div class="container mx-auto" style="max-width: 90%;">
    <!-- ===== Current Match Section ===== -->
    @if (Model.CurrentMatch != null)
    {
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="d-flex team-vs">
                    <span class="score">@Model.CurrentMatch.HomeScore - @Model.CurrentMatch.AwayScore</span>
                    <div class="team-1 w-50">
                        <div class="team-details w-100 text-center">
                            <img src="@Url.Content("~/assets/images/teamsLogo/" + Model.CurrentMatch.HomeTeam.LogoUrl)"
                                 alt="@Model.CurrentMatch.HomeTeam.Name" class="img-fluid">
                            <h3>@Model.CurrentMatch.HomeTeam.Name</h3>
                        </div>
                    </div>
                    <div class="team-2 w-50">
                        <div class="team-details w-100 text-center">
                            <img src="@Url.Content("~/assets/images/teamsLogo/" + Model.CurrentMatch.AwayTeam.LogoUrl)"
                                 alt="@Model.CurrentMatch.AwayTeam.Name" class="img-fluid">
                            <h3>@Model.CurrentMatch.AwayTeam.Name</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center widget-vs-contents mb-4">
            <h3 class="h-50 text-primary">@Model.CurrentMatch.Tournament?.Title</h3>
            <p class="mb-4">
                <span class="d-block">@Model.CurrentMatch.MatchDate.ToString("MMMM dd, yyyy")</span>
                <span class="d-block">@Model.CurrentMatch.MatchDate.ToString("hh:mm tt")</span>
                <strong class="text-primary">@Model.CurrentMatch.Location</strong>
            </p>
        </div>
    }
</div>


<div class="site-section bg-dark">
    <div class="container">
        <!-- ===== Next Match Section ===== -->
        <!-- ===== Next Match Section ===== -->
        @if (Model.NextMatch != null)
        {
            <div class="row mb-5">
                <div class="col-lg-12">
                    <div class="widget-next-match">
                        <div class="widget-title">
                            <h3>Next Match</h3>
                        </div>
                        <div class="widget-body mb-3">
                            <div class="widget-vs">
                                <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                                    <div class="team-1 text-center">
                                        <img src="@Url.Content("~/assets/images/teamsLogo/" + Model.NextMatch.HomeTeam.LogoUrl)"
                                             alt="@Model.NextMatch.HomeTeam.Name" class="img-fluid">
                                        <h3>@Model.NextMatch.HomeTeam.Name</h3>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="vs"><span>VS</span></span>
                                    </div>
                                    <div class="team-2 text-center">
                                        <img src="@Url.Content("~/assets/images/teamsLogo/" + Model.NextMatch.AwayTeam.LogoUrl)"
                                             alt="@Model.NextMatch.AwayTeam.Name" class="img-fluid">
                                        <h3>@Model.NextMatch.AwayTeam.Name</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center widget-vs-contents mb-4">
                            <h4 class="h-50 text-primary">@Model.CurrentMatch.Tournament?.Title</h4>
                            <p class="mb-5">
                                <span class="d-block">@Model.NextMatch.MatchDate.ToString("MMMM dd, yyyy")</span>
                                <span class="d-block">@Model.NextMatch.MatchDate.ToString("hh:mm tt")</span>
                                <strong class="text-primary">@Model.NextMatch.Location</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- ===== Upcoming Matches Section ===== -->
        <div class="row align-items-stretch justify-content-center">
            @foreach (var item in Model.UpcomingMatches)
            {
                <div class="col-lg-6 mb-4 d-flex">
                    <div class="bg-light p-4 rounded h-100 w-100">
                        <div class="widget-body">
                            <div class="widget-vs">
                                <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                                    <div class="team-1 text-center">
                                        <img src="@Url.Content("~/assets/images/teamsLogo/" + item.HomeTeam.LogoUrl)"
                                             alt="@item.HomeTeam.Name" class="img-fluid">
                                        <h3>@item.HomeTeam.Name</h3>
                                    </div>
                                    <div>
                                        <span class="vs"><span>VS</span></span>
                                    </div>
                                    <div class="team-2 text-center">
                                        <img src="@Url.Content("~/assets/images/teamsLogo/" + item.AwayTeam.LogoUrl)"
                                             alt="@item.AwayTeam.Name" class="img-fluid">
                                        <h3>@item.AwayTeam.Name</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center widget-vs-contents mb-4">
                            <h4 class="h-50 text-primary">@item.Tournament?.Title</h4>
                            <p class="mb-5">
                                <span class="d-block">@item.MatchDate.ToString("MMMM dd, yyyy")</span>
                                <span class="d-block">@item.MatchDate.ToString("hh:mm tt")</span>
                                <strong class="text-primary">@item.Location</strong>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
